.view-id-social_forces2 .container {
  background:none;
  padding:5px;
  margin:5px;
  height: 160px;
  float:left;
  position: relative;
  overflow: hidden;
  border: 1px solid #F1F2F4;;
  border-radius: 5px;
}

.view-id-social_forces2 .clickActive .target {
  margin-top: 25px;
}

.view-id-social_forces2 .container img {
  float: left;
}

.view-id-social_forces2 .target {
  position:absolute;
  margin-top: 145px;
  padding: 30px 10px;
  height: 130px;
  width: 140px;
  text-align:center;
  background: #FFF;
  opacity: 0.9;
  filter: alpha(opacity=90);
  cursor: hand; 
  cursor: pointer; 
}

.view-id-social_forces2 .target a {
  text-decoration: none;
}

.view-id-social_forces2 ul {
  padding: 0px;
  list-style-type: none
}

#sf-full-1 {
  display:none;
  height: 0px;
  padding: 10px;
  margin:15px 5px;
  overflow: auto;
  border: 1px solid #F1F2F4;
  border-radius: 3px;
  -moz-box-shadow: inset 0px 0px 6px 4px #909090;
  -webkit-box-shadow: inset 0px 0px 6px 4px #909090;
  box-shadow: inset 0px 0px 6px 4px #909090;
  background: url("../../assets/watermark2.png") 100% 30px no-repeat;
  min-width: 300px;  
}

#sf-full-1 #inner {
  height: 375px;
  overflow: auto;
}

#sf-full-1 .sf-close {
  margin-left: 95%;  
  cursor: hand; 
  cursor: pointer; 
}

#sf-full-1 .left {
  float: left;
  width: 36%;
  padding: 10px;
}

#sf-full-1 .right {
  float: left;
  width: 56%;
  padding: 10px;
}

#sf-full-1 .left span {
  font-weight: bold;
  font-size: 75%;
  text-transform: uppercase;
  /*color: #007c99;*/
  color: #b63500;
}

#sf-full-1 .left .image ul {
  padding: 0 0 0 15%;
}

#sf-full-1 .left .accordion ul {
  padding: 0 0 0.25em 1em;
  
}

#sf-full-1 .right h2 {
  border-bottom: 2px solid #007c99;
  padding: 5px;
  margin: 0px;
}

#sf-full-1 .right .slogan {
  font-style: italic;
  padding: 5px 20px 5px 20px;
}

.view-id-social_forces2 .mpic {
  position: absolute;
  right: 18px;
  bottom: 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index:0;
}

.view-id-social_forces2 .accordion {
  border: 1px solid #F1F2F4;
  padding: 9px;
}

.view-id-social_forces2 .accordion > div {
  border-bottom: 2px dashed #F1F2F4;
  padding: 9px;
  background-color: #F0F0F5;
}

.view-id-social_forces2 h3 {
  /*background: #007c99;*/
  border-bottom: 1px solid #F1F2F4;
  padding: 2px;
  margin:1px 0;
  cursor: hand; 
  cursor: pointer;
  text-transform: capitalize;
}

